<!DOCTYPE html>
<html>
        <head>
                <meta charset="utf-8">
                <meta http-equiv="x-ua-compatible" content="ie=edge">
                <meta name="viewport" content="width=device-width, initial-scale=1">
                {% for meta in context.meta %}
                        <meta name="{{ meta.name }}" content="{{ meta.content }}">
                {% endfor %}

                <title>vue-ssr-poc</title>
        </head>
        <body>
                {{app|raw}}
                <!-- built files will be auto injected -->
        </body>
</html>
