<template>
    <div class="home-view">
        <h1>{{ msg }}</h1>
    </div>
</template>

<script>
export default {
    name: 'home-view',
    preFetch: false,
    data() {
        return {
            msg: 'I am the HomeView',
        }
    },
    meta() {
        return [
            { name: 'page-name', content: this.name },
        ]
    },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1 {
      color: #42b983;
  }
</style>
