<template>
    <div class="hello">
        <h1>{{ msg }}</h1>
        <h2>{{ str }}</h2>
    </div>
</template>

<script>
    export default {
        name: 'hello',
        data() {
            return {
                msg: 'I am a Vue component',
            }
        },
        computed: {
            str() {
                return this.$store.state.initial
            },
        },
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1 {
      color: purple; 
  }
</style>
