<template>
    <div id="app">
        <hello></hello>

        <div class="router">
            <router-view></router-view>
            <router-link to="/">Home</router-link>
            <router-link to="/foo">Foo</router-link>  
        </div>
    </div>
</template>

<script>
import Hello from 'components/Hello'

export default {
    components: {
        hello: Hello,
    },
}
</script>

<style>
html {
      height: 100%;
  }

  body {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
  }

  #app {
      color: #2c3e50;
      margin-top: -100px;
      max-width: 600px;
      font-family: Source Sans Pro, Helvetica, sans-serif;
      text-align: center;
  }

  #app a {
      color: #42b983;
      text-decoration: none;
  }

  .logo {
      width: 100px;
      height: 100px
  }
</style>
